body {
    font-family:'Courier New', 'Courier New', Courier, monospace;
    color:#666;
    margin: 0;
    padding: 40px 20px;
    background-image: linear-gradient(to bottom, #f0f0f0, #ffb8de);
}

.box-section {
    display:grid;
    place-items:center;
}


header {
    text-align: center;
    margin-bottom: 50px;
}

header h1{
    font-size: 3.5rem;
    margin:0;
    letter-spacing:-1px;

}

header p {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing:2px;
    color:#666;

}

.slime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    max-width:1200px;
    margin: 0 auto;
}

.slime-card {
    background: #ffff;
    border: 3px solid #ffff;
    padding:20px;
    border-radius:0px;
    display:flex;
    flex-direction:column;
    position:relative;

}

.level-badge {
    position: absolute;
    top:15px;
    left:15px;
    font-size:0.7rem;
    font-weight:bold;
    text-transform:uppercase;
    padding:3px 8px;
    border: 1.5px solid #111
}

.beginner{ background-color: #a8ffb2;}
.intermediate {background-color: #ffd3a8;}
.advanced {background-color: #fca8ff;}
.accessory {background-color: #a8efff;}

.slime-image-placeholder {
    height:160px;
    background-color: #f0f0f0;
    border:2px dashed #ccc;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:3rem;
}

.slime-card h3 {
    margin:10px 0 5px 0;
    font-size: 1.4rem;
}

.description{
    font-size: 2rem;
    color: #444;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
}

.price{
    font-size:5rem;
    font-weight:bold;
    margin:10px 0;
}



footer{
    text-align:center;
    margin-top:60px;
    font-size: 0.8rem;
    color:#999;
}

img {
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.slimeimage{
    width: 250px;
    height: 250px;
}

.box-section {
    display:grid;
    place-items:center;
}