body {
    font-family:'Courier New', 'Courier New', Courier, monospace;
    background-color: #fafafa;
    color:#666;
    margin: 0;
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1{
    font-size: 3.5;
    margin:0;
    letter-spacing:-1px;

}

header p {
    font-size: 1.1;
    text-transform: uppercase;
    letter-spacing:2px;
    color:#666;

}

.slime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmX(240PX,1FR));
    GAP: 30PX;
    max-width:1200px;
    margin: 0 auto;
}

.slime-card {
    background: #ffff;
    border: 3px solid #ffff;
    padding:20px;
    border-radius:0px;
    display:flex;
    flex-direction:column;
    position:relative;

}

.level-badge {
    position: absolute;
    top:15px;
    left:15px;
    font-size:0.7rem;
    font-weight:bold;
    text-transform:uppercase;
    padding:3px 8px;
    border: 1.5px solid #111
}

.beginner{ background-color: #a8ffb2;}
.intermediate {background-color: #ffd3a8;}
.advanced {background-color: #fca8ff;}
.accessory {background-color: #a8efff;}

.slime-image-placeholder {
    height:160px;
    background-color: #f0f0f0;
    border:2px dashed #ccc;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:3rem;
}

.slime-card h3 {
    margin:10px 0 5px 0;
    font-size: 1.4rem;
}

.description{
    font-size: 0.9rem;
    color: #444;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
}

.price{
    font-size:1.5rem;
    font-weight:bold;
    margin:10px 0;
}

.quick-add-btn{
    display:block;
    text-align:center;
    background-color: #111;
    color: #111;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
    text-transform:uppercase;
    font-size:0.9rem;
    transition: background 0.2s ease;

}

.quick-add-btn:hover {
    background-color: #ff4444;
}

footer{
    text-align:center;
    margin-top:60px;
    font-size: 0.8rem;
    color:#999;
}